{% extends 'data.html' %}


{% load static %}

{% load humanize %}

<!DOCTYPE html>
<html lang="en">





{% block title %} Analyze {% endblock %}

<body>



{% block searchform %}{% endblock %}


    {% block heading %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1> Analyze Different Groups of Members of the House </h1>


      </div>
    </div>
    {% endblock %}

{% block table %}
<div class="container">
<table>
    <tr>
        <th> Member Group</th>
        <th> PAC Avg </th>
        <th> Dist Bailout Support Avg </th>
        <th> Dist Bailout Opposition Avg</th>
        <th> ADA Score Avg</th>
    </tr>

    <tr>
        <td> All Members </td>
        <td>{{ all_members_avg|intcomma }}</td>
        <td> {{ bailout_supp_all_avg }}</td>
        <td> {{ bailout_opp_all_avg }}</td>
        <td> {{ ada_all_avg }}</td>
    </tr>

    <tr>
        <td> Members that Voted Yes Twice </td>
        <td> {{ yah_yah_avg|intcomma }}</td>
        <td> {{ bailout_supp_yah_yah_avg }}</td>
        <td> {{ bailout_opp_yah_yah_avg }}</td>
        <td> {{ ada_yah_yah_avg }}</td>

    </tr>

    <tr>
        <td> Members that Voted No Twice </td>
        <td> {{ nah_nah_avg|intcomma }}</td>
        <td> {{ bailout_supp_nah_nah_avg }}</td>
        <td> {{ bailout_opp_nah_nah_avg }}</td>
        <td> {{ ada_nah_nah_avg }}</td>
    </tr>

    <tr>
        <td> Members that Switched Thier Vote </td>
        <td> {{ the_switchers_avg|intcomma }}</td>
        <td> {{ bailout_supp_sw_avg }} </td>
        <td> {{ bailout_opp_sw_avg }}</td>
        <td> {{ ada_sw_avg }}</td>
    </tr>


    <tr>
        <td> Members on the Financial Services Committee </td>
        <td> {{ fin_serv_avg|intcomma }}</td>
        <td> {{ bailout_supp_fs_avg }}</td>
        <td> {{ bailout_opp_fs_avg }}</td>
        <td> {{ ada_fs_avg }}</td>
    </tr>

</table>
</div>
<br><br><br><br>




<div class="container">
<h2> Party Breakdown </h2>
<table>
    <tr>
        <th>Party/Voting Group</th>
        <th> PAC Avg </th>
        <th> Total PAC Contribs</th>
        <th> Dist Bailout Support Avg </th>
        <th> Dist Bailout Opposition Avg</th>
        <th> ADA Score Avg</th>
        <th> # of Members </th>
    </tr>

    <tr>
        <td> All Democrats</td>
        <td> {{ all_dems_pac_avg|intcomma }}</td>
        <td> {{ pac_total_all_dems|intcomma }}</td>
        <td> {{ all_dems_bailout_supp_avg }}</td>
        <td> {{ all_dems_bailout_opp_avg }}</td>
        <td> {{ ada_all_dems_avg }}</td>
        <td> {{ dems }}</td>
    </tr>

    <tr>
        <td> All Republicans</td>
        <td> {{ all_reps_pac_avg|intcomma }}</td>
        <td> {{ pac_total_all_reps|intcomma }}</td>
        <td> {{ all_reps_bailout_supp_avg }}</td>
        <td> {{ all_reps_bailout_opp_avg }}</td>
        <td> {{ ada_all_reps_avg }}</td>
        <td> {{ reps }}</td>
    </tr>

    <tr>
        <td> Dems that voted 'Yes' and 'Yes' </td>
        <td> {{ dems_yy_pac_avg|intcomma }}</td>
        <td> {{ pac_total_dems_yy }}</td>
        <td> {{ dems_yy_bailout_supp_avg }}</td>
        <td> {{ dems_yy_bailout_opp_avg }}</td>
        <td> {{ dems_yy_ada_avg }}</td>
        <td> {{ length_dems_yy }}</td>
    </tr>

    <tr>
        <td>Reps that voted 'Yes' and 'Yes'</td>
        <td> {{ reps_yy_pac_avg|intcomma }} </td>
        <td> {{ pac_total_reps_yy }}</td>
        <td> {{ reps_yy_bailout_supp_avg }}</td>
        <td> {{ reps_yy_bailout_opp_avg }}</td>
        <td> {{ reps_yy_ada_avg }}</td>
        <td> {{ length_reps_yy }}</td>
    </tr>

    <tr>
        <td> Dems that voted 'No' and 'No' </td>
        <td> {{ dems_nn_pac_avg|intcomma }}</td>
        <td> {{ pac_total_dems_nn }}</td>
        <td> {{ dems_nn_bailout_supp_avg }}</td>
        <td> {{ dems_nn_bailout_opp_avg }}</td>
        <td> {{ dems_nn_ada_avg }}</td>
        <td> {{ length_dems_nn }}</td>
    </tr>

    <tr>
        <td> Reps that voted 'No' and 'No'</td>
        <td> {{ reps_nn_pac_avg }}</td>
        <td> {{ pac_total_reps_nn }}</td>
        <td> {{ reps_nn_bailout_supp_avg }}</td>
        <td> {{ reps_nn_bailout_opp_avg }}</td>
        <td> {{ reps_nn_ada_avg }}</td>
        <td> {{ length_reps_nn }}</td>
    </tr>

    <tr>
        <td> Dems that switched votes</td>
        <td> {{ dems_sw_pac_avg|intcomma }}</td>
        <td> {{ pac_total_dems_sw }}</td>
        <td> {{ dems_sw_bailout_supp_avg }}</td>
        <td> {{ dems_sw_bailout_opp_avg }}</td>
        <td> {{ dems_sw_ada_avg }}</td>
        <td> {{ length_dems_sw }}</td>
    </tr>

    <tr>
        <td> Reps that switched votes </td>
        <td> {{ reps_sw_pac_avg|intcomma }}</td>
        <td> {{ pac_total_reps_sw }}</td>
        <td> {{ reps_sw_bailout_supp_avg }}</td>
        <td> {{ reps_sw_bailout_opp_avg }}</td>
        <td> {{ reps_sw_ada_avg }}</td>
        <td> {{ length_reps_sw }}</td>
    </tr>
</table>

</div>

        {%endblock%}

</body>
</html>