<!DOCTYPE html>
<html lang="en">

{% extends 'data.html' %}



{% block title %} Analyze {% endblock %}

<body>
{% block navbar %}
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/bailout">Home</a></li>
  <li role="presentation" class="active"><a href="/bailout/data">Data</a></li>
  <li role="presentation"><a href="/bailout/links">Links & Sources</a></li>
  <li role="presentation"><a href="/bailout/register">Sign Up</a></li>
  <li role="presentation"><a href="/bailout/dashboard">Dashboard</a></li>
  <li role="presentation"><a href="/bailout/logout">Log Out</a></li>
</ul>
{% endblock %}
{% block sidebar %}
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/bailout/financial_services_committee" class="list-group-item">Financial Services Committee</a>
            <a href="/bailout/switchers" class="list-group-item">Members That Switched Votes</a>
            <a href="/bailout/yes_yes" class="list-group-item">Members Who, When Asked their Thoughts on the Bailout, said "Yes-Yes"</a>
            <a href="/bailout/no_no" class="list-group-item">Members Who, When Asked their Thoughts on the Bailout, said "No-No"</a>


          </div>
        </div><!--/.sidebar-offcanvas-->
{% endblock %}

{% block heading %}

<h1> Analyze different groups of legislators</h1>

{% endblock %}

{% block table %}
<table>
    <tr>
        <th> Member Group</th>
        <th> PAC Avg </th>
        <th> Dist Bailout Support Avg </th>
        <th> Dist bailout Opposition Avg</th>
        <th> ADA Score Avg</th>
    </tr>

    <tr>
        <td> All Members </td>
        <td>{{ all_members_avg }}</td>
        <td> {{ bailout_supp_all_avg }}</td>
        <td> {{ bailout_opp_all_avg }}</td>
        <td> {{ ada_all_avg }}</td>
    </tr>

    <tr>
        <td> Members that Voted Yes Twice </td>
        <td> {{ yah_yah_avg }}</td>
        <td> {{ bailout_supp_yah_yah_avg }}</td>
        <td> {{ bailout_opp_yah_yah_avg }}</td>
        <td> {{ ada_yah_yah_avg }}</td>

    </tr>

    <tr>
        <td> Members that Voted No Twice </td>
        <td> {{ nah_nah_avg }}</td>
        <td> {{ bailout_supp_nah_nah_avg }}</td>
        <td> {{ bailout_opp_nah_nah_avg }}</td>
        <td> {{ ada_nah_nah_avg }}</td>
    </tr>

    <tr>
        <td> Members that Switched Thier Vote </td>
        <td> {{ the_switchers_avg }}</td>
        <td> {{ bailout_supp_sw_avg }} </td>
        <td> {{ bailout_opp_sw_avg }}</td>
        <td> {{ ada_sw_avg }}</td>
    </tr>


    <tr>
        <td> Members on the Financial Services Committee </td>
        <td> {{ fin_serv_avg }}</td>
        <td> {{ bailout_supp_fs_avg }}</td>
        <td> {{ bailout_opp_fs_avg }}</td>
        <td> {{ ada_fs_avg }}</td>
    </tr


</table>

        {%endblock%}

</body>
</html>