{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/jumbotron.css" %}"rel="stylesheet">


    {% comment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endcomment %}
{% endblock %}
{%  block title %}<title> Bailout Project </title>{%  endblock %}
</head>
<body>
{% block tabbar %}


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/bailout">Home</a></li>
            <li><a href="/bailout/data">Data</a></li>
            <li><a href="/bailout/links">Links & Sources</a></li>
            <li><a href="/bailout/register">Sign Up</a></li>
            <li><a href="/bailout/dashboard">Dashboard</a></li>
            <li><a href="/bailout/logout">Log Out</a></li>
            </ul>
          {% comment %}
            <form class="navbar-form navbar-right">
              <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% endcomment %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% endblock %}

    {% block headingparagraph %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1> 2008 Bank Bailout Data Project </h1>
        <p> Hello, and welcome to my website! My name is Josh, and I'm not "just Joshin' you".
            During my undergrad years at Florida State University
        (go Noles!), I wrote several political science research papers and for these papers I had developed a data set on all of the members of
        the House of Representatives of the 110th Congress, with 40+ columns of information. Using the django-python web framework,
        I created this website as a way for people to interact with this data set, and to, hopefully, learn a thing or two in the process.
        <br> <br>
        On this page, I will go into more detail about my research paper. But please, explore this website and make sure to sign up and create a user
        so you can rate members of the House of Representatives!</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>Project and Research Paper Background</h2>
          <p class="home-intro indented"> The 2008 financial crisis was a trying time for the United States of America. Irresponsible, and some would argue illegal, mortgage and investing
          practices by large financial institutions beginning in the Clinton years resulted in the <a href="https://business.cch.com/images/banner/subprime.pdf"> sub-prime mortgage crisis </a> in 2008.
          Toxic investments in a troubled housing market had a malicious domino effect on the U.S., and world, economy.
          Investment banking firm Lehman Brothers was a truly pivotal domino to fall, declaring insolvency on September 15, 2008.
          This resulted in a financial panic in the stock market that had the potential to foster a bank run. The dominoes continued
          to fall to various financial markets, when the inevitability of the collapse of the credit market prompted government officials
          to take action. <br><br>

          In response to the financial crisis, Treasury Secretary Henry Paulson announced his Troubled Asset Relief
          Program (TARP) on September 20. Known as the Paulson Proposal, TARP proposed that the Treasury would buy up
          to $700 billion of Mortgage Backed Securities owned by large financial institutions, in hopes of stabilizing
          financial markets by directly reducing the uncertainty in the financial market and banking system. Four
          days later, President Bush addressed the nation on primetime television to rally public support for Paulson’s
          Proposal. <br><br>

          In Congress, the TARP proposal became a bill called the Emergency Economic Stabilization Act of
          2008 (EESA). The bill was taken up expeditiously for a vote in the House on September 29, but it failed
          205-228. That same day, investors responded to the failed bailout, and the Dow Jones Industrial Average
          had its largest <a href="http://money.cnn.com/2008/09/29/markets/markets_newyork/index.htm">single-day point drop in its history </a>.
          The media’s reporting was starting to become frightening, warning that people’s savings and 401k investments
          were at risk of being lost. After being passed in the Senate on October 1, the EESA was sent back to
          the lower chamber for a revote on October 3. This time, the EESA passed the House comfortably, 263-171.
          Between the first and second votes on the $700 billion bailout, 58 members of the House of Representatives
          changed their vote from “nay” to “yay.” <br><br>

          The research paper I wrote for my honors thesis in college, and whose data is the basis for this web app,
          tried to find statistical factors that may have caused 58 members of the House of Representatives
          to switch their vote from "no" to "yes" on the EESA. I looked at factors such as financial services
          Political Action Committee campaign contributions, ideology, bailout public opinion by district, and
          others.
          <br><br>
          Unfortunately, my data analysis for the project did not yield any deifnitive conclusions on what factors may have directly
          caused these members of the House of Representatives to switch their vote on this very important bill.






          </p>
        </div>
      </div>
    {% endblock %}
      <hr>

      <footer>
        <p>&copy; 2016 Joshie G</p>
      </footer>
    </div> <!-- /container -->














    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

</body>
</html>

{% comment %}

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/bailout">Home</a></li>
  <li role="presentation"><a href="/bailout/data">Data</a></li>
  <li role="presentation"><a href="/bailout/links">Links & Sources</a></li>
  <li role="presentation"><a href="/bailout/register">Sign Up</a></li>
  <li role="presentation"><a href="/bailout/dashboard">Dashboard</a></li>
  <li role="presentation"><a href="/bailout/logout">Log Out</a></li>
</ul>


<h1>Bailout Project</h1>
<h2>
    Summary
</h2>
<p>
    This is where I will write a paragraph or two explaining the project. I'm going to keep writing <br>
    just to take up space and to mess around! :)
</p>

{% endcomment %}