{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    {% block title %} <title> Dashboard </title> {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "css/jumbotron.css" %}" rel="stylesheet"> -->
    <link href="{% static "css/custom.css" %}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:100, 200, 300,400,600" rel="stylesheet">
    <link href="{% static "css/normalize.css" %}" type="text/css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        td, th {
          padding: 10px;
          border: 1px solid black;
					text-align: center;
        }
    </style>
{% endblock %}
</head>
<body>
{% block navbar %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="collapse navbar-collapse">
        <div class="bailout-logo">
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/bailout">Home</a></li>
          <li><a href="/bailout/data">Data</a></li>
          <li><a href="/bailout/links">Links & Sources</a></li>
          <li><a href="/bailout/register">Sign Up</a></li>
          <li class="active"><a href="/bailout/dashboard">Dashboard</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


{% endblock %}

<!-- PICTURE SLIDER -->
{% block picture-slider %}
  <div class="container-fluid">
    <div class="container">
      <!-- <img class="img-responsive hero-image" src="US-capitol.jpg" alt="http://www.publicdomainpictures.net/view-image.php?image=21750">-->
      <div class="hero-image">
      </div>
    </div><!-- /.container -->
  </div>
{% endblock %}

{% block sidebar %}
 <!-- TOP CONTENT CONTAINER -->
 <div class="row">
   <div class="container pad50t50b align-left">
    <!-- SIDEBAR -->
    
    <div class="col-md-3">
      <div class="sidebar-1 affix-top">
        <div class="row pad25b">
        <!-- SIDEBAR MENU -->
          <div id="MainMenu">
              <div class="list-group panel sidebar-color align-left">
								<a href="/bailout/dashboard" class="list-group-item strong top-level-nav active">View and Search for All members</a>
                <a href="/bailout/dashboard/{{user_profile.state}}" class="list-group-item strong top-level-nav">Rate Members of Your State</a>
                <a href="/bailout/ratings" class="list-group-item strong top-level-nav">Rating History</a>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block main-content %}
<!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> -->
  	<div class="col-md-9 main-content">
    	<h1 class="big-header center-align"> Welcome {{ da_user }} </h1>
		</div>
	</div> 
{% endblock %}
 
{% block table-extra %}{% endblock %}
 
{% block table %}
  <div class="row">		  
  	<div class="col-md-1">
  		<!-- EMPTY DIV FOR SPACING -->
  	</div>  
  	<div class="col-md-10 pad50t50b align-center">
			<h1 class="big-header align-left"> Below, select the member of the House of Representatives for the 110th Congress that you want to rate! </h1><br>
			<!-- SEARCH FORM -->
			<form action='/bailout/dashboard' method="post" class="align-center">
			{{  form  }}
			<input type="submit" value="Search">
			{% csrf_token %}
			</form><br>
			<div>
      <table class="dashboard-table table-responsive table-striped">
        <thead>
{% if members_to_rate %}
  

          <tr class="margin-auto">
            <th> ID a</th>
            <th> Name </th>
            <th> Party </th>
            <th> State </th>
            <th> PAC $ </th>
            <th> Vote 1 </th>
            <th> Vote 2 </th>
            <th> Switch </th>
            <th> Dist Supp </th>
            <th> Dist Opp </th>
            <th> ADA Score </th>
            <th> Margin of Victory</th>
            <th> Swing District</th>
          </tr>
        </thead>

			{% for obj in members_to_rate %}

          <tr>
              <td> {{ obj.identifier }}</td>
              <td><a href="/bailout/dashboard/{{obj.identifier}}"> {{ obj.name }}</a></td>
              <td> {{  obj.party }} </td>
              <td> {{  obj.state }} </td>
              <td> {{  obj.PAC }} </td>
              <td> {{  obj.vote_1 }} </td>
              <td> {{  obj.vote_2 }} </td>
              <td> {{  obj.switch }} </td>
              <td> {{  obj.bailout_support }} </td>
              <td> {{  obj.bailout_opposition }} </td>
              <td> {{  obj.ada_score }} </td>
              <td> {{  obj.win_margin_06|floatformat:2 }} </td>
              <td> {{  obj.swing_district }} </td>
          </tr>


{% endfor %}
{% else %}




    <thead>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Party </th>
        <th> State </th>
        <th> PAC $ </th>
        <th> Vote 1 </th>
        <th> Vote 2 </th>
        <th> Switch </th>
        <th> Dist Supp </th>
        <th> Dist Opp </th>
        <th> ADA Score </th>
        <th> Margin of Victory</th>
        <th> Swing District</th>
    </tr>
    </thead>
{% for obj in members %}
    <tbody>
    <tr>
        <td> {{ obj.identifier }}</td>
        <td><a href="/bailout/dashboard/{{obj.identifier}}"> {{ obj.name }}</a></td>
        <td> {{  obj.party }} </td>
        <td> {{  obj.state }} </td>
        <td> {{  obj.PAC }} </td>
        <td> {{  obj.vote_1 }} </td>
        <td> {{  obj.vote_2 }} </td>
        <td> {{  obj.switch }} </td>
        <td> {{  obj.bailout_support }} </td>
        <td> {{  obj.bailout_opposition }} </td>
        <td> {{  obj.ada_score }} </td>
        <td> {{  obj.win_margin_06|floatformat:2 }} </td>
        <td> {{  obj.swing_district }} </td>
    </tr>
    </tbody>



{% endfor %}
{% endif %}
				</table>
			</div>

</div>
			<div class="col-md-1">
				<!-- EMPTY DIV FOR SPACING -->
			</div>

  	</div>   
{% endblock %}
  	    
  











<!--

          {% comment %} **** IF YOU GO TO http://getbootstrap.com/examples/dashboard/ THESE ARE THE CIRCLES AT THE TOP. REMOVED FOR NOW MIGHT FIND A WAY TO INCORPORATE LATER
          <div class="row placeholders">       ****** IDEA- ADD PICTURES OF POPULAR MEMBERS OF HOUSE I.E. PAUL RYAN, PELOSI, AND ADD A LINK UNDERNEATH TO TAKE THEM TO RATING PAGE FOR THAT MEMBER
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
          {% endcomment %}
        <h1> Select Members of the House of Representatives for the 110th Congress that you want to rate! </h1>
-->


       


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "js/holder.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
</body>


{% comment %}
<h1> Member Rating Form </h1>
<form action="/bailout/dashboard" method="post">
    {{  form  }}
    <input type="submit" value="Save">
    {% csrf_token %}
</form>

</body>
</html>
{% endcomment %}
