{% load static %}

{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
{% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/jumbotron.css" %}"rel="stylesheet">

    <style>
        td, th {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
    {%  block title %}<title>  Data</title>{% endblock %}
</head>
{% endblock %}

<body>
{% block tabbar %}


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/bailout"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/bailout">Home</a></li>
            <li><a href="/bailout/data">Data</a></li>
            <li><a href="/bailout/links">Links & Sources</a></li>
            <li><a href="/bailout/register">Sign Up</a></li>
            <li><a href="/bailout/dashboard">Dashboard</a></li>
            <li><a href="/bailout/logout">Log Out</a></li>
            </ul>
          {% comment %}
            <form class="navbar-form navbar-right">
              <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% endcomment %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% endblock %}

    {% block main-content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1> 110th Congress </h1>
        <h2> Party Breakdown of All Members in the U.S. House of Representatives, 110th Congress </h2>
        <table>
            <tr>
                <th> Democrat </th>
                <th> Republican </th>
                <th> Total </th>
            </tr>

            <tr>
                <td> {{ dems|intcomma }} </td>
                <td> {{ reps|intcomma }} </td>
                <td> {{ total_members }}</td>
            </tr>
        </table>
        <h2> Average Financial Services PAC Contributions for '08 Cycle </h2>
        <h3> ${{ members_avg|intcomma }}</h3>
        <h2> Total contributions from financial services PACs for all Members for '08 Cycle</h2>
        <h3> ${{ dum|intcomma }}</h3>
        <br><br><p> Pssssttt... If you want to rate members of congress, make sure you <a href="/bailout/register"> click here </a>
        to register. If you are already registered, <a href="/bailout/dashboard"> click here</a> to go to the dashboard page and
        get to ratin'! </p>

      </div>
    </div>
    {% endblock %}


{% block searchform %}
    <div class="container">
    <h2> Member Search Form</h2>
<div class="search-bar"><form action='/bailout/member_search' method="post" >
<form>
    {{  form  }}
    <input type="submit" value="Search">
    {% csrf_token %}
</form></div>{% endblock %}

{% block sidebar %}
<div class="container">
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
        <div id="sidebar">
          <div class="list-group">
            <a href="/bailout/data" class="list-group-item">All Members in the House of Reps</a>
            <a href="/bailout/financial_services_committee" class="list-group-item">Financial Services Committee</a>
            <a href="/bailout/switchers" class="list-group-item">Members That Switched Votes</a>
            <a href="/bailout/yes_yes" class="list-group-item">Members Who, When Asked their Thoughts on the Bailout, said "Yes-Yes"</a>
            <a href="/bailout/no_no" class="list-group-item">Members Who, When Asked their Thoughts on the Bailout, said "No-No"</a>
            <a href="/bailout/analyze" class="list-group-item"> Analyze Different Groups of Members</a>
            <a href="/bailout/explain_variables" class="list-group-item">Explanation of Variables/Columns</a>

          </div>
        </div><!--/.sidebar-offcanvas-->
    </div>
{% endblock %}

{% comment %}
<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Party </th>
        <th> State </th>
        <th><a href="/bailout/order_by_pac"> PAC $</a> </th>
        <th> Vote 1 </th>
        <th> Vote 2 </th>
        <th> Switch </th>
        <th> Dist Supp </th>
        <th> Dist Opp </th>
        <th> ADA Score </th>
        <th> Margin of Vict </th>
        <th> Swing District </th>
    </tr>

    {% block looper %}{% for obj in members %}
        <tr>
            <td> {{  obj.identifier }} </td>
            <td> {{  obj.name }} </td>
            <td> {{  obj.party }} </td>
            <td> {{  obj.state }} </td>
            <td> {{  obj.PAC }} </td>
            <td> {{  obj.vote_1 }} </td>
            <td> {{  obj.vote_2 }} </td>
            <td> {{  obj.switch }} </td>
            <td> {{  obj.bailout_support }} </td>
            <td> {{  obj.bailout_opposition }} </td>
            <td> {{  obj.ada_score }} </td>
            <td> {{  obj.marginals }} </td>
            <td> {{  obj.swing_district }} </td>
    {% endfor %}
    {% endblock %}
        </tr>
{% endcomment %}

</table>
</div>
    </div>
</div>
{% comment %}
<form action='/bailout/member_search' method="post" >
    {{  form  }}
    <input type="submit" value="Search">
    {% csrf_token %}
</form>{% endcomment %}
{% block table %}
<div class="container">
    <table>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Party </th>
            <th> State </th>
            <th><a href="/bailout/order_by_pac"> PAC $</a> </th>
            <th> Vote 1 </th>
            <th> Vote 2 </th>
            <th> Switch </th>
            <th> Dist Supp </th>
            <th> Dist Opp </th>
            <th> ADA Score </th>
            <th> Margin of Victory</th>
            <th> Swing District</th>
        </tr>

        {% for obj in objs %}
            <tr>
                <td> {{  obj.identifier }} </td>
                <td> {{  obj.name }} </td>
                <td> {{  obj.party }} </td>
                <td> {{  obj.state }} </td>
                <td> {{  obj.PAC }} </td>
                <td> {{  obj.vote_1 }} </td>
                <td> {{  obj.vote_2 }} </td>
                <td> {{  obj.switch }} </td>
                <td> {{  obj.bailout_support }} </td>
                <td> {{  obj.bailout_opposition }} </td>
                <td> {{  obj.ada_score }} </td>
                <td> {{  obj.win_margin_06 }} </td>
                <td> {{  obj.swing_district }} </td>
        {% endfor %}
            </tr>

    </table>
</div>
{% endblock %}

{% block javascript %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}"><\/script>')</script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

{% endblock %}


</body>
</html>
