{% extends 'data_new.html' %}
{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
{% block sidebar %}
	 
  <div class="container pad50t50b align-left">
    <div class="col-md-3">
      <div class="sidebar-1 affix-top">
        <div class="row pad25b">
        <!-- SIDEBAR MENU -->
          <div id="MainMenu">
              <div class="list-group panel sidebar-color align-left">
                <a href="/bailout/data" class="list-group-item strong top-level-nav">All Members</a>
                <a href="/bailout/financial_services_committee" class="list-group-item strong top-level-nav active">Financial Services Committee</a>
                <a href="/bailout/switchers" class="list-group-item strong top-level-nav">Members That Switched Votes <i class="fa fa-caret-down"></i></a>
                <a href="/bailout/yes_yes" class="list-group-item strong top-level-nav">Members That Voted "Yes" Twice <i class="fa fa-caret-down"></i></a>
                <a href="/bailout/no_no" class="list-group-item strong top-level-nav">Members That Voted "No" Twice <i class="fa fa-caret-down"></i></a>
                <a href="/bailout/analyze" class="list-group-item strong top-level-nav">Analyze Different Groups of Congresspeople <i class="fa fa-caret-down"></i></a>
                <a href="/bailout/explain_variables" class="list-group-item strong top-level-nav">Explanation of Variables/Columns <i class="fa fa-caret-down"></i></a>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block main-content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="col-md-9 align-left main-content">
    <h1 class="big-header"> 110th Congress </h1>
    <h1 class="black-color-theme"> Party Breakdown of all Members in the Financial Services Committee </h2><br>
      <table class="political-party-breakdown-table">
        <tr>
          <th> Democrat </th>
          <th> Republican </th>
          <th> Total </th>
        </tr>

        <tr>
          <td> {{ dem_count_fs }} </td>
          <td> {{ rep_count_fs }} </td>
          <td> {{ total_members }}</td>
        </tr>
      </table>
        <h1 class="black-color-theme"> Average Financial Services PAC Contributions to Members on the Financial Services Committee for '08 Cycle </h1>
        <h1 class="money-green"> ${{ fin_serv_avg|intcomma }}</h1>
        <h1 class="black-color-theme"> Total contributions from financial services PACs to Members on the Financial Services Committee</h1>
        <h1 class="money-green"> ${{ dummy_fs|intcomma }}</h1>
        <br><br><p> <a href="https://en.wikipedia.org/wiki/United_States_House_Committee_on_Financial_Services">The United States House Committee on
        Financial Services</a> is the committee in our great House of Representatives that is responsible for oversight of the entire
        financial services industry. I'll allow you to ask yourself "Gee wait a second... You mean the Congressmen who make up the body
        in the House of Representatives that is responsible for directly overseeing banking regulation and lawmaking relating to the financial
        services industry received over $15.5 million for 1 eleciton cycle, and an average of $232,653 per member, all directly from
        Political Action Committees that represent the financial services industry itself?" <br><br>
        Yup.

      </div>
    {% endblock %}
{% block searchform %}{% endblock %}
{% block table %}
	<div class="table-holder">
    <table class="table-responsive">
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Party </th>
            <th> State </th>
            <th> PAC $ </th>
            <th> Vote 1 </th>
            <th> Vote 2 </th>
            <th> Switch </th>
            <th> Dist Supp </th>
            <th> Dist Opp </th>
            <th> ADA Score </th>
            <th> Margin of Victory</th>
            <th> Swing District</th>
        </tr>

        {% for obj in fin_serv %}
            <tr>
                <td> {{  obj.identifier }} </td>
                <td> {{  obj.name }} </td>
                <td> {{  obj.party }} </td>
                <td> {{  obj.state }} </td>
                <td> {{  obj.PAC }} </td>
                <td> {{  obj.vote_1 }} </td>
                <td> {{  obj.vote_2 }} </td>
                <td> {{  obj.switch }} </td>
                <td> {{  obj.bailout_support }} </td>
                <td> {{  obj.bailout_opposition }} </td>
                <td> {{  obj.ada_score }} </td>
                <td> {{  obj.win_margin_06|floatformat:2 }} </td>
                <td> {{  obj.swing_district }} </td>
            </tr>
        {% endfor %}
        
{% endblock %}
    </table>
</div>
<a href="/bailout/data"><class="list-group-item">Go Back to Member Search</a>
</body>
</html>
