<!DOCTYPE html>
{% extends 'bailout/base.html' %}
{% block tabbar %}
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/bailout">Home</a></li>
  <li role="presentation"><a href="/bailout/data">Data</a></li>
  <li role="presentation" class="active"><a href="/bailout/links">Links & Sources</a></li>
  <li role="presentation"><a href="/bailout/register">Sign Up</a></li>
  <li role="presentation"><a href="/bailout/dashboard">Dashboard</a></li>
  <li role="presentation"><a href="/bailout/logout">Log Out</a></li>
</ul>
{% endblock %}
{% block headingparagraph %}
<h1>Links & Sources</h1>
<h2>Links</h2>
<p> Here are some links to websites relevant to my project:<br>
<a href="http://opensecrets.org">opensecrets.org:</a> Incredible website where I got all of my campaign finance information.
</a>

</p>
{% endblock %}
</body>
</html>