{% extends 'base.html' %}

{% load static %}



<!DOCTYPE html>

{% block headingparagraph %}
<div class="container">
  <div class="coL-md-12">
    <h1>Links & Sources</h1>
    <h2>Links</h2>
    <p> Here are some links to websites relevant to my project:<br>
    <a href="http://opensecrets.org">opensecrets.org:</a> Incredible website where I got all of my campaign finance information.
    <br><a href="https://www.opensecrets.org/pacs/pacfaq.php"> Explanation of PACs:</a> Here is where you can find out what a Political
    Action Committee is.<br>
    <a href="http://www.washingtonpost.com/wp-dyn/content/article/2008/09/28/AR2008092800900.html"> Analysis of Legislation</a>
    Washington Post's detailed explanation of what was in the bill that passed.

  </div>
</div>
</a>

</p>
{% endblock %}
</body>
</html>
