<!DOCTYPE html>
<html lang="en">
{% extends 'bailout/base.html' %}
<body>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/bailout">Home</a></li>
  <li role="presentation"><a href="/bailout/data">Data</a></li>
  <li role="presentation"><a href="/bailout/links">Links & Sources</a></li>
</ul>
{% block headingparagraph %}
<h1> Login to Rate Members of Congress </h1>
<form id="login_form" method="post" action="/bailout/login/">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
    {% csrf_token %}
</form>
{% endblock %}


</body>
</html>