{% extends 'dashboard.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<body>
{% block sidebar %}
  <div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="sidebar-1 affix-top">
        <div class="row pad25b">
        <!-- SIDEBAR MENU -->
          <div id="MainMenu">
              <div class="list-group panel sidebar-color align-left">
								<a href="/bailout/dashboard" class="list-group-item strong top-level-nav">View and Search for All members</a>
                <a href="/bailout/dashboard/{{user_profile.state}}" class="list-group-item strong top-level-nav active">Rate Members of Your State</a>
                <a href="/bailout/ratings" class="list-group-item strong top-level-nav">Rating History</a>
              </div>
          </div>
        </div>
      </div>
    </div>
		</div>
	</div>
{% endblock %}



{% block main-content %}



{% endblock %}




{% block table %}
		
		<h1 class="pad50t50b center-align"> Welcome {{ da_user }} : Rate Members of your State: {{ user_state }} </h1>
		<div class="table-holder">
				<table class="table-responsive">
							<tr>
									<th> ID </th>
									<th> Name </th>
									<th> Party </th>
									<th> State </th>
									<th> PAC $ </th>
									<th> Vote 1 </th>
									<th> Vote 2 </th>
									<th> Switch </th>
									<th> Dist Supp </th>
									<th> Dist Opp </th>
									<th> ADA Score </th>
									<th> Margin of Victory </th>
									<th> Swing District </th>
							</tr>

					{% for obj in members_of_user_state %}
							<tr>
									<td> {{  obj.identifier }} </td>
									<td><a href="/bailout/dashboard/{{obj.identifier}}"> {{ obj.name }}</a></td>
									<td> {{  obj.party }} </td>
									<td> {{  obj.state }} </td>
									<td> {{  obj.PAC }} </td>
									<td> {{  obj.vote_1 }} </td>
									<td> {{  obj.vote_2 }} </td>
									<td> {{  obj.switch }} </td>
									<td> {{  obj.bailout_support }} </td>
									<td> {{  obj.bailout_opposition }} </td>
									<td> {{  obj.ada_score }}</td>
									<td>  {{ obj.win_margin_06|floatformat:2 }}</td>
									<td>  {{ obj.swing_district }}</td>
					{% endfor %}

						</tr>
				</table>
				</div>


{% endblock %}

	</body>
</html>