<!DOCTYPE html>
<html lang="en">

{% extends 'data.html' %}
{% load static %}
{% block title %} Members Search Results {% endblock %}
{% block heading %}<h1>Member Search Results</h1>
<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Party </th>
        <th> State </th>
        <th> PAC $ </th>
        <th> Vote 1 </th>
        <th> Vote 2 </th>
        <th> Switch </th>
        <th> Dist Supp </th>
        <th> Dist Opp </th>
    </tr>

    {% for obj in members %}
        <tr>
            <td> {{  obj.identifier }} </td>
            <td> {{  obj.name }} </td>
            <td> {{  obj.party }} </td>
            <td> {{  obj.state }} </td>
            <td> {{  obj.PAC }} </td>
            <td> {{  obj.vote_1 }} </td>
            <td> {{  obj.vote_2 }} </td>
            <td> {{  obj.switch }} </td>
            <td> {{  obj.bailout_support }} </td>
            <td> {{  obj.bailout_opposition }} </td>
        </tr>
    {% endfor %}




    {% comment %}
    {% for obj in members %}
        <tr>
            <td> {{  obj.identifier }}</td>
            <td> {{  obj.name }}</td>
            <td> {{  obj.state }}</td>
            <td> {{  obj.PAC }}</td>
            <td> {{  obj.switch }}</td>
    {% endfor %}
        </tr>
    {%  endcomment %}
    {%  comment %}
    <tr>
        <td> Column 1</td>
        <td></td>
        <td> Column 3</td>
    </tr>
    {% endcomment %}
</table>

 <a href="/bailout/data"><class="list-group-item">Go Back to Member Search</a>
    {% endblock %}

{% block searchform %}{% endblock %}
{% block table %}{% endblock %}
</body>
</html>