{% extends 'data_new.html' %}
{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<body>
{% block main-content %}
  <div class="col-md-9 align-left main-content">
    <h1 class="big-header">Members that Voted "No" Twice</h1>
    <h1 class="black-color-theme"> Party Breakdown of Members that Voted 'No' Twice:</h1>
    <table class="political-party-breakdown-table">
        <tr>
            <th> Dem </th>
            <th> Rep </th>
            <th> Total </th>
        </tr>

        <tr>
            <td>{{ dem_count }}</td>
            <td>{{ rep_count }}</td>
            <td>{{ total_members }}</td>
        </tr>
    </table>
    <h1 class="black-color-theme"> Average Financial Services PAC Contributions for '08 Cycle For Members that Voted 'No' Twice:</h1>
    <h1 class="money-green"> ${{ nah_nah_avg|intcomma }}</h1>
    </div>
    </div>
{% endblock %}
{% block searchform %}{% endblock %}
{% block table %}
<div class="container">
<table class="table-responsive">
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Party </th>
        <th> State </th>
        <th> PAC $ </th>
        <th> Vote 1 </th>
        <th> Vote 2 </th>
        <th> Switch </th>
        <th> Dist Supp </th>
        <th> Dist Opp </th>
        <th> ADA Score </th>
        <th> Margin of Victory</th>
        <th> Swing District</th>
    </tr>

    {% for obj in nah_nah %}
    <tr>
        <td> {{  obj.identifier }} </td>
        <td> {{  obj.name }} </td>
        <td> {{  obj.party }} </td>
        <td> {{  obj.state }} </td>
        <td> {{  obj.PAC }} </td>
        <td> {{  obj.vote_1 }} </td>
        <td> {{  obj.vote_2 }} </td>
        <td> {{  obj.switch }} </td>
        <td> {{  obj.bailout_support }} </td>
        <td> {{  obj.bailout_opposition }} </td>
        <td> {{  obj.ada_score }} </td>
        <td> {{  obj.win_margin_06 }} </td>
        <td> {{  obj.swing_district }} </td>
        </tr>
    {% endfor %}
    {% endblock %}


</table>
</div>

</body>
</html>
