<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOCs who Voted "No" Twice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        td, th {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/bailout">Home</a></li>
  <li role="presentation" class="active"><a href="/bailout/data">Data</a></li>
  <li role="presentation"><a href="/bailout/links">Links & Sources</a></li>
</ul>
<h1>Members that Voted "No" Twice</h1>
<body>
<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Party </th>
        <th> State </th>
        <th> PAC $ </th>
        <th> Vote 1 </th>
        <th> Vote 2 </th>
        <th> Switch </th>
        <th> Dist Supp </th>
        <th> Dist Opp </th>
    </tr>

    {% for obj in nah_nah %}
        <tr>
            <td> {{  obj.identifier }} </td>
            <td> {{  obj.name }} </td>
            <td> {{  obj.party }} </td>
            <td> {{  obj.state }} </td>
            <td> {{  obj.PAC }} </td>
            <td> {{  obj.vote_1 }} </td>
            <td> {{  obj.vote_2 }} </td>
            <td> {{  obj.switch }} </td>
            <td> {{  obj.bailout_support }} </td>
            <td> {{  obj.bailout_opposition }} </td>
        </tr>
    {% endfor %}


</table>
<a href="/bailout/data"><class="list-group-item">Go Back to Member Search</a>
</body>
</html>