{% extends 'data_new.html' %}
{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<body>
{% block main-content %}
  <div class="container">
    <div class="col-md-9 align-left main-content">
      <h1 class="big-header">Members that Switched their Vote</h1>
      <h1 class="black-color-theme"> Party breakdown of members that switched their vote:</h1>
      <table class="political-party-breakdown-table">
        <tr>
            <th> Dem </th>
            <th> Rep </th>
            <th> Total</th>
        </tr>

        <tr>
            <td>{{ dem_count_sw }}</td>
            <td>{{ rep_count_sw }}</td>
            <td>{{ total_members }}</td>
        </tr>
      </table>
      <h1 class="black-color-theme"> Average financial services PAC Contributions for '08 cycle for members that switched their vote:</h1>
      <h1 class="money-green"> ${{ the_switchers_avg|intcomma }} </h1>
      <h1 class="black-color-theme">Total contributions from financial services PACs to members that switched their vote:</h1>
      <h1 class="money-green"> ${{dummy_sw|intcomma}}</h1>
    </div>
  </div>
{% endblock %}
{% block searchform %}{% endblock %}
{% block table %}
<div class="table-holder">
<table class="table-responsive">
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Party </th>
        <th> State </th>
        <th> PAC $ </th>
        <th> Vote 1 </th>
        <th> Vote 2 </th>
        <th> Switch </th>
        <th> Dist Supp </th>
        <th> Dist Opp </th>
        <th> ADA Score </th>
        <th> Margin of Victory</th>
        <th> Swing District</th>
    </tr>

    {% for obj in the_switchers %}
        <tr>
            <td> {{  obj.identifier }} </td>
            <td> {{  obj.name }} </td>
            <td> {{  obj.party }} </td>
            <td> {{  obj.state }} </td>
            <td> {{  obj.PAC }} </td>
            <td> {{  obj.vote_1 }} </td>
            <td> {{  obj.vote_2 }} </td>
            <td> {{  obj.switch }} </td>
            <td> {{  obj.bailout_support }} </td>
            <td> {{  obj.bailout_opposition }} </td>
            <td> {{  obj.ada_score }} </td>
            <td> {{  obj.win_margin_06|floatformat:2 }} </td>
            <td> {{  obj.swing_district }} </td>
        </tr>
    {% endfor %}
    {%endblock %}


</table>
</div>
</body>
</html>
