{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>
{% block tabbar %}
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <div class="bailout-logo">
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/bailout">Home</a></li>
        <li><a href="/bailout/data">Data</a></li>
        <li><a href="/bailout/links">Links & Sources</a></li>
        <li class="active"><a href="/bailout/register">Sign Up</a></li>
        <li><a href="/bailout/dashboard">Dashboard</a></li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
  </nav>
{% endblock %}
{% block headingparagraph %}
{% if registered %}
<div class="jumbotron">
    <div class="container">
        <strong>Thank you for registering! B@ll on! :)</strong>
        <a href="/bailout">Return to the homepage</a><br />
    </div>
</div>
{% else %}

    <div class="container align-left">
        <strong><h3 style="text-align:center;">Register Here!</h3></strong><br />
        <form id="user_form" method="post" action="/bailout/register"
              enctype="multipart/form-data">

        {% csrf_token %}
        <!-- Display each form -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register" />
        </form>
    </div>

{% endif %}
{% endblock %}

</body>
</html>
