<!DOCTYPE html>
<html lang="en">

{% extends 'dashboard.html' %}

{% block title %} Rating History {% endblock %}

{% block sidebar %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/bailout/dashboard">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="/bailout/dashboard/{{user_profile.state}}">Rate Members of Your State</a></li>
            <li class="active"><a href="/bailout/ratings/">Rating History</a></li>
          </ul>
        </div>
{% endblock %}

{% block first_section %}

    <div class="container col-md-10" style="float:right;">
    <h1> Welcome {{ da_user }}. Below is a list of your ratings! :)-</h1>
    <table>
        <tr>
            <th> Name </th>
            <th> Rating </th>
            <th> PAC </th>
            <th> Party </th>
            <th> State </th>
        </tr>

        {% block looper %}{% for obj in members_rated %}
        <tr>
            <td> {{ obj.moc.name }} </td>
            <td> {{ obj.rating }}</td>
            <td> {{ obj.moc.PAC }}</td>
            <td> {{ obj.moc.party }}</td>
            <td> {{ obj.moc.state }}</td>
        </tr>
        {% endfor %}
        {% endblock %}
    </table>
    </div>

{% endblock %}
<body>

</body>
</html>