{% extends 'dashboard.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">





										<!-- SIDEBAR -->
{% block sidebar %}
  <div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="sidebar-1 affix-top">
        <div class="row pad25b">
        <!-- SIDEBAR MENU -->
          <div id="MainMenu">
              <div class="list-group panel sidebar-color align-left">
								<a href="/bailout/dashboard" class="list-group-item strong top-level-nav">View and Search for All members</a>
                <a href="/bailout/dashboard/{{user_profile.state}}" class="list-group-item strong top-level-nav">Rate Members of Your State</a>
                <a href="/bailout/ratings" class="list-group-item strong top-level-nav active">Rating History</a>
              </div>
          </div>
        </div>
      </div>
    </div>
{% block main-content %}{% endblock %}
   <div class="col-md-1">
   	<!-- EMPTY DIV FOR SPACING -->
   </div>
    <div class="col-md-12">
   		<h1 class="pad50b"> Welcome {{ da_user }}. Below is a list of your ratings!</h1>
   		<div class="table-holder">
				<table class="table-responsive">
						<tr>
							<th> Name </th>
							<th> Rating </th>
							<th> PAC </th>
							<th> Party </th>
							<th> State </th>
						</tr>

					{% for obj in members_rated %}
						<tr>
							<td> {{ obj.moc.name }} </td>
							<td> {{ obj.rating }}</td> 
							<td> {{ obj.moc.PAC }}</td>
							<td> {{ obj.moc.party }}</td>
							<td> {{ obj.moc.state }}</td>
							</tr>
					{% endfor %}
				</table>
			</div>
  		</div>
		</div>
	</div>
{% endblock %}

{% block table %}
	
	{% endblock %}



<body>

</body>
</html>