<!DOCTYPE html>
<html lang="en">
{% extends 'data.html' %}
{% block title %} Members that Voted Yes Twice {% endblock %}

<body>
{% block heading %}
<h1>Members that Voted "Yes" Twice</h1>
<h3> Party Breakdown of Members that Voted "Yes" Twice:</h3>
<table>
    <tr>
        <th> Dem </th>
        <th> Rep </th>
    </tr>

    <tr>
        <td>{{ dem_count_yy }}</td>
        <td>{{ rep_count_yy }}</td>
    </tr>
</table>
<h3> Average Financial Services PAC Contributions for '08 Cycle For Members that Voted "Yes" Twice </h3>
<h4> {{ yah_yah_avg }} </h4>
{% endblock %}
{% block searchform %}{% endblock %}
<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Party </th>
        <th> State </th>
        <th> PAC $ </th>
        <th> Vote 1 </th>
        <th> Vote 2 </th>
        <th> Switch </th>
        <th> Dist Supp </th>
        <th> Dist Opp </th>
    </tr>

    {% block looper %}{% for obj in yah_yah %}
        <tr>
            <td> {{  obj.identifier }} </td>
            <td> {{  obj.name }} </td>
            <td> {{  obj.party }} </td>
            <td> {{  obj.state }} </td>
            <td> {{  obj.PAC }} </td>
            <td> {{  obj.vote_1 }} </td>
            <td> {{  obj.vote_2 }} </td>
            <td> {{  obj.switch }} </td>
            <td> {{  obj.bailout_support }} </td>
            <td> {{  obj.bailout_opposition }} </td>
        </tr>
    {% endfor %}
    {% endblock %}

</table>
<a href="/bailout/data"><class="list-group-item">Go Back to Member Search</a>
</body>
</html>